@{
    ViewData["Title"] = "Home Page";
    var flyweight = new TownManager.Services.Patterns.Flyweight();
}
@model GameModel
@using TownManager.Models.Enums
<p>Day:  <span class="badge badge-pill badge-primary">@Model.CurrentDay</span></p>
<div class="row">

    @foreach (var statistics in Model.Statistics)
    {
        <div class="col-lg-3">
            <p>@statistics.Key.GetName() : <span class="badge badge-pill badge-primary">@statistics.Value</span></p>
        </div>
    }

</div>
<div class="row">

    @for (var index = 0; index < Model.Buildings.Count; index++)
    {
        <div class="col-lg-1 pb-4">

            <div class="dropdown">
                <a title="@(Model.Buildings[index].Type)" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <img style=" opacity: @(Model.Buildings[index].Active ? 1 : 0.3);" src="data:image/jpeg;base64,@flyweight.GetImage(Model.Buildings[index].Type)">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Home/Destroy/@index">Destroy</a>
                    <a class="dropdown-item" href="#">Upgrade</a>
                </div>
            </div>

        </div>
    }
</div>
